{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<h2 class="header">{{ title }}.</h2>

<div>
 <div><img id="im1" src="{% static 'app/content/Logotip 2.jpg' %}" alt="Logo" width="180" height="160"/></div>
  <p id="p1">Добро пожаловать в <b>ТурБарьер</b>— туристическое агентство, специализирующееся на организации незабываемых путешествий по Кольскому полуострову.
     Мы предлагаем уникальные возможности для всех типов путешественников, будь то любители приключений,
     исследователи дикой природы или просто любители комфортного отдыха на берегу Белого моря.</p>
  <p>
     Кольский полуостров, находящийся в Северо-Западной России, является одним из самых удивительных и малоизвестных мест на планете.
     Здесь встречаются непреодолимая сила Полярного Севера и красота уникальной северной природы. Будьте готовы встретиться с полярным сиянием,
     собственноручно отполированными веками ледниками, впечатляющими водопадами, вековыми тайнами саамской культуры и, конечно же, милыми обитателями северных широт.
  </p>
  <div><img id="im2" src="{% static 'app/content/Вид1.jpg' %}" alt="Заполярье Кольский полуостров" width="550" height="350"/></div>
   <p>
      <b>ТурБарьер </b> заботится о каждом клиенте, поэтому мы предлагаем самую высококлассную инфраструктуру и комфортные условия пребывания на территории Кольского полуострова.
       Наша команда профессионалов поможет вам спланировать идеальное путешествие, учитывая ваши предпочтения и потребности.
   </p>
   <div><img id="im2" src="{% static 'app/content/Команда.jpg' %}" alt="Команда ТурБарьер" width="600" height="350"/></div>
   <p>
       В <b>ТурБарьере</b> мы стремимся обеспечить вам неповторимые впечатления и создать ваши самые яркие путешественнические моменты.
       Путешествуйте с <b>нами</b> и откройте для себя мир Кольского полуострова, который оставит незабываемые впечатления на всю жизнь!
   </p>
</div>
{% endblock %}
